
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 5%;
    border-bottom: 1px solid black;
}

section {
    position: relative;
    width: 100%;
    
    
    &#game-area {
        height: 70%;
        overflow: hidden;
        color: white;
        background-color: black;
        
        pre {
            position: absolute;
            transition: all 0 linear;
            display: inline-block;
            width: auto;
            
            span {
                position: absolute;
                width: 100%;
                height: 5px;
                margin-top: 5px;
                
                transition: width 200ms;
            }
        }
        
        .background {
            position: absolute;
            top: 0;
            left: 0;
            transform-origin: 0 0;
            font-size: 5px;
            
            &.far {
                -webkit-filter: blur(1px);
                color: #6363E8;
            }
            &.near {
                -webkit-filter: blur(0.5px);
                color: #883B3B;
            }
        }    
            
    }   
    
    &#hud-area {
        height: 25%;
        border-top: 1px solid black;
    } 
}

#sprites, #backgrounds {
    position: absolute;
    left: -100000px;
    
    pre {
        display: inline-block;
    }
}
